body{
    width: 70%;
    background: rgb(12, 12, 24);
    margin: 0px auto;
    border: 1px solid black;
 
}
h1{
    color: white;
}

.seccionArticulos{
    background: rgb(147, 147, 226);
    height: 90%;
    width: 90%;
    position: center;
    margin-left: 10%;
    margin-right: 10%;
}
.articulo{
    background: white;
    height: 300px;
    width: 256px;
    float: left;
    border: 10px solid black;
  
}