body{
    background: rgb(12, 12, 24);
    margin: 0px auto;
    border: 1px solid black;
    min-height: 100%;
 
}
h1{
    color: white;
    text-align: center;
}

.nameAPP{
    background-color: black;
}

.seccionArticulos{
    background: rgb(147, 147, 226);
    height: 90%;
    width: 90%;
    position: center;
    margin-left: 10%;
    margin-right: 10%;
}
.articulo{
    background: white;
    height: 300px;
    width: 256px;
    float: left;
    border: 10px solid black;
    border-radius: 20px 20px 20px 20px;
    margin: 20px;
}

.imgArticulo{
    width: 80%;
    height: 80%;
    text-align: center;
    display: block;
    margin: auto;
    
}

.nombrearticulo{
    color: black;
    text-align:center;
}

.footer{
    background: #123456;
    padding: 4rem 0;
    text-align: center;
}

.footer-text{
    color: white;
    font-size: large;
}


.footer{
    padding-bottom: 81px; /* El tamaño del footer para evitar el sobreposicionamiento */
}

.footerIzquierda{
    width: 100%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
}