{{>header}}
<!-- Page Content -->
<div class="container container-white" style="padding-bottom: 20px;">
  <div class="row mx-auto " >
    <div class="col-lg-12 mx-auto">
      <h1 style="text-align: center;">Ajustes</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 mx-auto ">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" style="color:black" href="#">Accesibilidad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Link desabilitado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Link desabilitado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Link desabilitado</a>
        </li>
      </ul>
  </div>
    <div class="col-lg-10">
      <h3 class="my-4" style="padding-left: 50px;">Accesibilidad</h1>
        <div class="dropdown"style="padding-left: 50px;">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"> Seleccionar tema </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Tema oscuro</a>
            <a class="dropdown-item" href="#">Tema claro</a>
            <a class="dropdown-item" href="#">Tema letras grandes</a>
            <a class="dropdown-item" href="#">Tema modo daltonico</a>
          </div>
        </div>
    </div>
  </div>
</div>
{{>footer}}