<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Home</title>
  <link rel="stylesheet" href="estilos/estilosHamburguesa.css">
  <script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
  <link rel="stylesheet" href="estilos/estilos.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>

<body>
  <div class="respmenu">
    <input type="checkbox">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times"></i>

    <nav>
      <ul>
        <li><a href="#">pepito 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
        <li><a href="#">Item 5</a></li>
      </ul>
    </nav>
  </div>
  <div class="nameAPP">
    <h1>EVENTOS OCTAVIO</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-8 col-sm-3" style="margin-left: 50px;">
        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/atril.jpg">
          <h4 class="nombrearticulo">2 ALTAVOCES DE PIE</h4>
        </div>
        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/altavocespie.jpg">
          <h4 class="nombrearticulo">ATRIL</h4>
        </div>
        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/mesaDJ.jpg">
          <h4 class="nombrearticulo">Mesa DJ</h4>
        </div>
        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/portatil.jpg">
          <h4 class="nombrearticulo">Portátil</h4>
        </div>

        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/cablemicro.jpg">
          <h4 class="nombrearticulo">Cables de sonido</h4>
        </div>
        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/microinalmbrico.jpg">
          <h4 class="nombrearticulo">Micrófono inalámbrico</h4>
        </div>
        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/estructuraluces.jpg">
          <h4 class="nombrearticulo">Estructura para luces</h4>
        </div>
        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/microcable.jpg">
          <h4 class="nombrearticulo">Micrófono con cable</h4>
        </div>

        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/bolasluces.jpg">
          <h4 class="nombrearticulo">Bolas de luces</h4>
        </div>
        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/proyector.jpg">
          <h4 class="nombrearticulo">Proyector</h4>
        </div>
        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/bombillas.jpg">
          <h4 class="nombrearticulo">Bombillas</h4>
        </div>
        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/microfono.jpg">
          <h4 class="nombrearticulo">Micrófonos</h4>
        </div>

        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/atril.jpg">
          <h4 class="nombrearticulo">ATRIL</h4>
        </div>
        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/atril.jpg">
          <h4 class="nombrearticulo">ATRIL</h4>
        </div>
        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/atril.jpg">
          <h4 class="nombrearticulo">ATRIL</h4>
        </div>
        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/atril.jpg">
          <h4 class="nombrearticulo">ATRIL</h4>
        </div>


        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/atril.jpg">
          <h4 class="nombrearticulo">ATRIL</h4>
        </div>
        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/atril.jpg">
          <h4 class="nombrearticulo">ATRIL</h4>
        </div>
        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/atril.jpg">
          <h4 class="nombrearticulo">ATRIL</h4>
        </div>
        <div class="articulo">
          <img class="imgArticulo" alt="alt de la imagen" src="img/atril.jpg">
          <h4 class="nombrearticulo">ATRIL</h4>
        </div>
      </div>
    </div>
  </div>

  
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <p class="footer-text">
                Teléfono: +34 644 976 481<br>
                Corre: info.eventosoctavio@gmail.com
                <br>
              </p>
            </div>
            <div class="col-lg-6">
              <p>
                Instagram: @eventos_octavio<br>
                Facebook: Eventos Octavio<br>
                Twitter: @EventosOctavio<br>
              </p>
            </div>
          </div>
        </div>
        <p class="footer-text">Página web diseñada por Desarrolladores Software</p>
      </footer>

</body>

</html>