{{>header}}
<!-- Page Content -->
<div class="container container-white" style="padding-bottom: 20px;">
  <div class="row">
    <div class="col-lg-4" style="text-align: center;">
      <img src="/img/user-image-default.jpg" width="350" height="350"
        style="padding-top: 20px; margin-top: 10px; border-radius: 200px;">
    </div>

    <div class="col-lg-5">
      <h1 class="my-4">Datos Usuario</h1>
      <div>
        <ul>
          <li>
            Nombre de usuario: <strong>user1234</strong>
          </li>
          <li>
            Correo electronico: <strong>Sr.pepe@gmail.com</strong>
          </li>
          <li>
            Dirección del usuario: <strong>Calle de la piruleta - Nº5 - 9ºB</strong>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div>
        <h1 class="my-4">Ajustes de usuario</h1>
        <div>
            <a href="" class="btn" role="button" style="color: black; border-radius: 10px; background-color:cadetblue; margin-top: 5px;"background-color: aqua;">Cambiar Contraseña</a>
        </div>
        <div</div>
            <a href="" class="btn" role="button" style="color: black; border-radius: 10px; background-color:cadetblue; margin-top: 5px;">Cambiar Dirección</a>
        </div>
        <div>
            <a href="" class="btn" role="button" style="color: black; border-radius: 10px; background-color:cadetblue; margin-top: 5px;">Cambiar Idioma</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
</div>
{{>footer}}