{{>header}}
<!-- Page Content -->
<div class="container container-white">
  <div class="row">
    <div class="col-lg-12 col-md-8 col-sm-3" style="justify-items: center;">
      <div class="container">
        <div class="row">

          <div class="col-md-3">
            <div class="articulo">
              <div class="container">
                <div class="row" style="align-items: center;">
                  <div class="col-lg-8" style="align-items: center;margin-top: 2px;">
                    <img class="imgArticulo" alt="alt de la imagen" src="/img/estructuraluces.jpg">
                    <h4 class="nombrearticulo" style="padding-left: 30px;">Estructura para luces
                    </h4>
                  </div>
                  <div class="col-lg-4" style="margin-top: 10px; align-items: center;">
                    <form>
                      <input type="submit" value="+">
                      <h4 style="padding: 10px;">1</h4>
                      <input type="submit" value="-">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="articulo">
              <div class="container">
                <div class="row" style="align-items: center;">
                  <div class="col-lg-8" style="align-items: center;margin-top: 2px;">
                    <img class="imgArticulo" alt="alt de la imagen" src="/img/microcable.jpg">
                    <h4 class="nombrearticulo" style="padding-left: 30px;">Micrófono con cable</h4>
                  </div>
                  <div class="col-lg-4" style="margin-top: 10px; align-items: center;">
                    <form>
                      <input type="submit" value="+">
                      <h4 style="padding: 10px;">1</h4>
                      <input type="submit" value="-">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="articulo">
              <div class="container">
                <div class="row" style="align-items: center;">
                  <div class="col-lg-8" style="align-items: center;margin-top: 2px;">
                    <img class="imgArticulo" alt="alt de la imagen" src="/img/bolasluces.jpg">
                    <h4 class="nombrearticulo" style="padding-left: 30px;">Bolas de luces</h4>
                  </div>
                  <div class="col-lg-4" style="margin-top: 10px; align-items: center;">
                    <form>
                      <input type="submit" value="+">
                      <h4 style="padding: 10px;">2</h4>
                      <input type="submit" value="-">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="articulo">
              <div class="container">
                <div class="row" style="align-items: center;">
                  <div class="col-lg-8" style="align-items: center;margin-top: 2px;">
                    <img class="imgArticulo" alt="alt de la imagen" src="/img/atril.jpg">
                    <h4 class="nombrearticulo" style="padding-left: 30px;">Atril</h4>
                  </div>
                  <div class="col-lg-4" style="margin-top: 10px; align-items: center;">
                    <form>
                      <input type="submit" value="+">
                      <h4 style="padding: 10px;">1</h4>
                      <input type="submit" value="-">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-3">
            <div class="articulo">
              <div class="container">
                <div class="row" style="align-items: center;">
                  <div class="col-lg-8" style="align-items: center;margin-top: 2px;">
                    <img class="imgArticulo" alt="alt de la imagen" src="/img/cablemicro.jpg">
                    <h4 class="nombrearticulo" style="padding-left: 30px;">Cables de sonido</h4>
                  </div>
                  <div class="col-lg-4" style="margin-top: 10px; align-items: center;">
                    <form>
                      <input type="submit" value="+">
                      <h4 style="padding: 10px;">2</h4>
                      <input type="submit" value="-">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="articulo">
              <div class="container">
                <div class="row" style="align-items: center;">
                  <div class="col-lg-8" style="align-items: center;margin-top: 2px;">
                    <img class="imgArticulo" alt="alt de la imagen" src="/img/microinalmbrico.jpg">
                    <h4 class="nombrearticulo" style="padding-left: 30px;">Micrófono inalámbrico</h4>
                  </div>
                  <div class="col-lg-4" style="margin-top: 10px; align-items: center;">
                    <form>
                      <input type="submit" value="+">
                      <h4 style="padding: 10px;">1</h4>
                      <input type="submit" value="-">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="articulo">
              <div class="container">
                <div class="row" style="align-items: center;">
                  <div class="col-lg-8" style="align-items: center;margin-top: 2px;">
                    <img class="imgArticulo" alt="alt de la imagen" src="/img/mesaDJ.jpg">
                    <h4 class="nombrearticulo" style="padding-left: 30px;">Mesa DJ</h4>
                  </div>
                  <div class="col-lg-4" style="margin-top: 10px; align-items: center;">
                    <form>
                      <input type="submit" value="+">
                      <h4 style="padding: 10px;">1</h4>
                      <input type="submit" value="-">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="articulo">
              <div class="container">
                <div class="row" style="align-items: center;">
                  <div class="col-lg-8" style="align-items: center;margin-top: 2px;">
                    <img class="imgArticulo" alt="alt de la imagen" src="/img/altavocespie.jpg">
                    <h4 class="nombrearticulo" style="padding-left: 30px;">2 Altavoces</h4>
                  </div>
                  <div class="col-lg-4" style="margin-top: 10px; align-items: center;">
                    <form>
                      <input type="submit" value="+">
                      <h4 style="padding: 10px;">2</h4>
                      <input type="submit" value="-">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-3">
            <div class="articulo">
              <div class="container">
                <div class="row" style="align-items: center;">
                  <div class="col-lg-8" style="align-items: center;margin-top: 2px;">
                    <img class="imgArticulo" alt="alt de la imagen" src="/img/portatil.jpg">
                    <h4 class="nombrearticulo" style="padding-left: 30px;">Portátil</h4>
                  </div>
                  <div class="col-lg-4" style="margin-top: 10px; align-items: center;">
                    <form>
                      <input type="submit" value="+">
                      <h4 style="padding: 10px;">1</h4>
                      <input type="submit" value="-">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="articulo">
              <div class="container">
                <div class="row" style="align-items: center;">
                  <div class="col-lg-8" style="align-items: center;margin-top: 2px;">
                    <img class="imgArticulo" alt="alt de la imagen" src="/img/proyector.jpg">
                    <h4 class="nombrearticulo" style="padding-left: 30px;">Proyector</h4>
                  </div>
                  <div class="col-lg-4" style="margin-top: 10px; align-items: center;">
                    <form>
                      <input type="submit" value="+">
                      <h4 style="padding: 10px;">2</h4>
                      <input type="submit" value="-">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="articulo">
              <div class="container">
                <div class="row" style="align-items: center;">
                  <div class="col-lg-8" style="align-items: center;margin-top: 2px;">
                    <img class="imgArticulo" alt="alt de la imagen" src="/img/bombillas.jpg">
                    <h4 class="nombrearticulo" style="padding-left: 30px;">Bombillas</h4>
                  </div>
                  <div class="col-lg-4" style="margin-top: 10px; align-items: center;">
                    <form>
                      <input type="submit" value="+">
                      <h4 style="padding: 10px;">1</h4>
                      <input type="submit" value="-">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="articulo">
              <div class="container">
                <div class="row" style="align-items: center;">
                  <div class="col-lg-8" style="align-items: center;margin-top: 2px;">
                    <img class="imgArticulo" alt="alt de la imagen" src="/img/microfono.jpg">
                    <h4 class="nombrearticulo" style="padding-left: 30px;">Micrófonos</h4>
                  </div>
                  <div class="col-lg-4" style="margin-top: 10px; align-items: center;">
                    <form>
                      <input type="submit" value="+">
                      <h4 style="padding: 10px;">1</h4>
                      <input type="submit" value="-">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-5">
            <div class="container">
              <div class="row" style="background-color: white; border-radius: 10px; margin: 50px;">
                <div class="col-md-8" style="padding-top: 10px;">
                  <h4><strong>El presupuesto es de:</strong><strong> 120</strong></h4>
                </div>
                <div class="col-md-4" style="padding-top: 8px;">
                  <form>
                    <input type="submit" class="btn-info" value="Solicitar artículos"
                      style="width: 200px; height: 50px; font-size: 25px;">
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
{{>footer}}